<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <template>
        <div class="container template" id="home-template" data-tab="home">
            <div class="jumbotron text-center">
                <h1>Welcome to the CES App</h1>
                <p id="resourceMessage"></p>
                <button type="button" class="btn btn-success" id="btnSeason" onclick=nextSeason()>Advance to Next Season</button>
            </div>
        </div>
        <script>
        </script>
    </template>
    
</body>
</html>