<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <template>
        <style>
            .totalIncome{
                position: absolute;
                color: #ecce36;
                left: 40%;
            }
    
            .totalFood{
                position: absolute;
                left : 60%;
                color: green;
            }
        </style>
        <div class="container template" id="regionList-template" data-tab="regionList">
            <h1>Region List</h1>

            <div id="listOfRegionsByState">
                
            </div>
        </div>
    </template>
</body>
</html>