<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <template>
        <div class="container template" id="tradeAgreementList-template" data-tab="tradeAgreementList">
            <h1>Trade Agreements List</h1>
            <br>
            <div id="tradeAgreements">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                          <tr style="text-align: center;">
                              <th rowspan="1" colspan="3" >
                                  Sal Set
                              </th>
                              <th rowspan="1" colspan="3">
                                  Toya
                              </th>
                          </tr>
                          <tr>
                              <th>Resources Traded</th>
                              <th>Trade Power</th>
                              <th>Trade Value</th>
                              <th>Resources Traded</th>
                              <th>Trade Power</th>
                              <th>Trade Value</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            
        </div>
    </template>
</body>
</html>