<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <template>
        <div class="container template" id="tradeAgreementList-template" data-tab="tradeAgreementList">
            <h1>Trade Agreements List</h1>
            <br>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark" style="text-align: center;">
                        <tr>
                            <th rowspan="1" colspan="4" >
                                First State
                            </th>
                            <th rowspan="1" colspan="4">
                                Second State
                            </th>
                        </tr>
                        <tr>
                            <th>State Name</th>
                            <th>Resources Traded</th>
                            <th>Trade Power</th>
                            <th>Trade Value</th>
                            <th>State Name</th>
                            <th>Resources Traded</th>
                            <th>Trade Power</th>
                            <th>Trade Value</th>
                    </tr>
                </thead>
                <tbody id="tradeAgreements">
                    <!-- <tr>
                        <td>Sal Set</td>
                        <td>Emerald, Ruby, Diamond</td>
                        <td>12%</td>
                        <td>101.136</td>
                        <td>Toya</td>
                        <td>Gold</td>
                        <td>6%</td>
                        <td>12.810</td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </template>
</body>
</html>