<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <template>
        <div class="container template" id="tradeAgreementList-template" data-tab="tradeAgreementList">
            <h1>Trade Agreements List</h1>
            <br>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark" style="text-align: center;">
                        <tr>
                            <th rowspan="1" colspan="4" >
                                First State
                            </th>
                            <th rowspan="1" colspan="4">
                                Second State
                            </th>
                        </tr>
                        <tr>
                            <th>State Name</th>
                            <th>Resources Traded</th>
                            <th>Trade Power</th>
                            <th>Trade Value</th>
                            <th>State Name</th>
                            <th>Resources Traded</th>
                            <th>Trade Power</th>
                            <th>Trade Value</th>
                    </tr>
                </thead>
                <tbody id="tradeAgreements">
                </tbody>
            </table>

            
            <button class="btn btn-success" id="btnAddAgreement" data-toggle="modal" data-target="#mdlAddUpdateAgreement">Add New Trade Agreement</button>

            <button class="btn btn-primary" id="btnUpdateAgreement" data-toggle="modal" data-target="#mdlAddUpdateAgreement">Update Existing Trade Agreement</button>

            <button class="btn btn-danger" id="btnDeleteAgreement" data-toggle="modal" data-target="#mdlDeleteAgreement">Delete Trade Agreement(s)</button>
        </div>

        <div class="modal fade" id="mdlAddUpdateAgreement" tabindex="-1" role="dialog" aria-labelledby="mdlAddUpdateAgreementLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mdlAddUpdateAgreementLabel">Add or Update Trade Agreement</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="frmAddAgreementt">
                        <div class="modal-body">
                            <div id="selTradeAgreementField">
                                <label for="selTradeAgreement">Select Trade Agreement</label>
                                <select name="selTradeAgreement" id="selTradeAgreement" required></select><br/>
                            </div>

                            <div class="row" id="agreementFields">
                                <div class="column">
                                    <label for="selFirstState">Select First State</label>
                                    <select name="selState" id="selFirstState" required></select><br/>

                                    <label for="selFirstResource">Select Resource(s)</label>
                                    <select name="selFirstResource" id="selFirstResource" multiple class="form-select" required></select> <br>
    
    
                                </div>
                                <div class="column">
                                    <label for="selSecondState">Select Second State</label>
                                    <select name="selState" id="selSecondState" required></select><br/>
    
                                    <label for="selSecondResource">Select Resource(s)</label>
                                    <select name="selSecondResource" id="selSecondResource" multiple class="form-select" required></select> <br>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary"></input>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </template>
</body>
</html>