<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/general/simple_icon.css">
    <link rel="stylesheet" href="../../../css/region/bulkInsertComponent.css">
    <script>
        const { ipcRenderer } = require('electron');
        require('bootstrap');
        const $ = require('jquery');
    </script>
</head>

<body>
    <div class="to-top"><i class="simple-arrow up"></i></div>
    <div class="container my-2">
        <div class="row mb-2">
            <div class="col-lg-12 mb-2">
                <h4>Components Form</h4>
            </div>
            <form class="col-lg-8" id="frmAddComponent">
                <input type="hidden" id="hdnUnusedPopulation">
                <input type="hidden" id="hdnUniqueID" value="1">
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label" for="txtComponentName">Component Name</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="txtComponentName" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-5 col-form-label" for="selComponentType">Component
                        Type</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="selComponentType" id="selComponentType" required></select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-5 col-form-label" for="selFacility">Facility</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="selFacility" id="selFacility"></select>
                    </div>
                </div>

                <div class="form-group form-check">
                    <input class="form-check-input" type="checkbox" id="chkChild" name="chkChild">
                    <label class="form-check-label" for="chkChild">IsChild</label>
                </div>

                <div class="form-group row" id="componentParentField" style="display: none;">
                    <label class="col-sm-5 col-form-label" for="selParent">Parent
                        Component</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="selParent" id="selParent"
                            aria-describedby="selParentWarn"></select>
                        <small id="selParentWarn" class="form-text text-danger">
                            You can only select a parent component from the current bulk insert table.
                        </small>
                    </div>
                </div>

                <div class="form-group row" id="numTextValue">
                    <label class="col-sm-5 col-form-label" for="txtValue">Value</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" id="txtValue" name="value">
                        <select class="form-control" name="value" id="selResource"></select>
                        <span class="invalid-feedback" id="lblValueErrMessage"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-5 col-form-label" for="nmbCost">Cost</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="number" id="nmbCost" min="0" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-5 col-form-label" for="nmbActivation">Activation Time</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="number" id="nmbActivation" min="0" required>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <button type="submit" id="btnFormSubmit" class="btn btn-success">Add</button>
                        <button type="reset" id="btnFormReset" class="btn btn-danger">Reset</button>
                    </div>
                </div>
            </form>
            <div class="col-lg-4 p-2 options-wrapper">
                <h5>Options</h5>
                <div class="form-group form-check" id="fastDeleteWrapper" style="width: fit-content;">
                    <input class="form-check-input" type="checkbox" id="chkFastDelete">
                    <label class="form-check-label" for="chkFastDelete">Fast Delete</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table text-center">
                    <thead class="thead-dark">
                        <th scope="col" class="text-left">No.</th>
                        <th scope="col">Component Name</th>
                        <th scope="col">Component Type</th>
                        <th scope="col">Value</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Activation Time</th>
                        <th scope="col">Facility</th>
                        <th scope="col">Action</th>
                    </thead>
                    <tbody id="componentTableContent">
                        <tr id="componentTemplateRow">
                            <td id="numberCell" class="text-left"></td>
                            <td id="nameCell"></td>
                            <td id="typeCell"></td>
                            <td id="valueCell"></td>
                            <td id="costCell"></td>
                            <td id="activationTimeCell"></td>
                            <td id="facilityCell"></td>
                            <td id="actionCell" class="d-flex justify-content-around">
                                <input type="image" src="../../../images/icons/copy.png"
                                    class="action-img btnCopyComponent" onclick="btnCopyComponent_ClickHandler(this);"
                                    onblur="btnCopyComponent_BlurHandler(this);" alt="">
                                <input type="image" src="../../../images/icons/delete.png"
                                    class="action-img btnDeleteComponent"
                                    onclick="btnDeleteComponent_ClickHandler(this);" alt="">
                                <input type="image" src="../../../images/icons/hierarchy.png"
                                    class="action-img btnShowChildren" onclick="btnShowChildren_ClickHandler(this);"
                                    onmouseleave="$(this).tooltip('hide');" data-show-children="1" alt="">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert-wrapper">
                    <div role="alert" id="emptyTableTemplateAlert"
                        class="alert alert-danger alert-dismissible fade show col-sm-6">
                        <strong>You havent't created any components yet!</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div role="alert" id="insertResultTemplateAlert"
                        class="alert alert-dismissible fade show col-sm-6 d-none">
                        <div class="success-message">
                            <strong>Bulk insert has succeeded!</strong>
                            <br>
                            Closing window in 5 seconds.
                        </div>
                        <div class="fail-message">
                            <strong>An error has happened!</strong>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button id="btnInsertAll" class="btn btn-success" onclick="showSummaryModal();">Insert All</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mdlDeleteComponent" tabindex="-1" role="dialog"
        aria-labelledby="mdlDeleteComponentLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mdlDeleteComponentLabel">Delete Component</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" id="btnConfirmDeleteComponent"
                        onclick="btnConfirmDeleteComponent_ClickHandler(this);">Yes</button>
                    <button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mdlConfirmInsert" tabindex="-1" role="dialog" aria-labelledby="mdlConfirmInsert"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mdlConfirmInsert">Insert All</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="hdnSerializedComponents">
                    Components summary:
                    <ul>
                        <li>Parent Component: <span id="summaryParent"></span></li>
                        <li>Child Component: <span id="summaryChild"></span></li>
                    </ul>
                    <div id="summaryAccordion" class="accordion">
                        <div class="card">
                            <div class="card-header">
                                <button id="btnMoreSummary" class="btn btn-link text-left" data-toggle="collapse"
                                    data-target="#summaryCollapse">
                                    More Details <i class="simple-arrow down"></i>
                                </button>
                            </div>
                            <div id="summaryCollapse" class="collapse" data-parent="#summaryAccordion">
                                <div class="card-body">
                                    <ul>
                                        <li class="valuePopulation">
                                            Population Component: <span id="summaryPopulation"></span>
                                        </li>
                                        <li class="valueBuilding">
                                            Building Component: <span id="summaryBuilding"></span>
                                        </li>
                                        <li class="valueResource">
                                            Resource Component: <span id="summaryResource"></span>
                                        </li>
                                        <li class="valueFood">
                                            Food Component: <span id="summaryFood"></span>
                                        </li>
                                        <li class="valueMoney">
                                            Money Component: <span id="summaryMoney"></span>
                                        </li>
                                        <li class="valueSpecial">
                                            Special Component: <span id="summarySpecial"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex aligh-items-center">
                    <img id="insertLoader" src="../../../images/icons/circle-loader.gif" alt="" style="display:none;">
                    <button class="btn btn-success" id="btnConfirmInsert" onclick="doBulkInsert();">
                        Confirm
                    </button>
                    <button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../renderers/PartialViewRenderers/region/component/bulkInsert.js"></script>
</body>

</html>