<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" 
    href = "../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel = "stylesheet" 
    href = "../css/state.css" />
</head>
<body>
    <div id="stateMessage">

    </div>
    <nav>
        <div class="jumbotron" style="text-align: center;"><h1><label id="lblStateName"></label></h1><h5><span id="lblDescription"></span></h5></div>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">General Info</a>
          <a class="nav-item nav-link" id="nav-regions-tab" data-toggle="tab" href="#nav-regions" role="tab" aria-controls="nav-regions" aria-selected="false">Regions</a>
          <a class="nav-item nav-link" id="nav-resources-tab" data-toggle="tab" href="#nav-resources" role="tab" aria-controls="nav-resources" aria-selected="false">Resources</a>
          <a class="nav-item nav-link" id="nav-tradeAgreements-tab" data-toggle="tab" href="#nav-tradeAgreements" role="tab" aria-controls="nav-tradeAgreements" aria-selected="false">Trade Agreements</a>
        </div>
      </nav>
      <div class="tab-content stateContent" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
            <div class="container-fluid">
                

                Treasury : <span id="lblStateTreasury"></span> <br>
                Total Income : <span id="lblTotalIncome"></span> <br>
                Expenses : <span id="lblExpenses"></span> <br>
                Total Food Produced : <span id="lblFoodProduced"></span> <br>
                Total Food Consumed : <span id="lblFoodConsumed"></span> <br>
                Total Food Available : <span id="lblFoodAvailable"></span> <br>
                Total Population : <span id="lblPopulation"></span> <br>
                Average Development Level : <span id="lblAvgDevelopment"></span>
                <br><br>

                <button class="btn btn-primary" id="btnUpdateState" data-toggle="modal" data-target="#mdlUpdateState">Update State</button>
                <button class="btn btn-danger" id="btnOpenDeleteState" data-toggle="modal" data-target="#mdlDeleteState">Delete State</button>
            </div>
        </div>
        
        <div class="tab-pane fade" id="nav-regions" role="tabpanel" aria-labelledby="nav-regions-tab">
            <div id="listOfRegions" class="regionList container-fluid">
                
            </div>
        </div>
        <div class="tab-pane fade" id="nav-resources" role="tabpanel" aria-labelledby="nav-resources-tab">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Resource</th>
                        <th scope="col">Resource Tier</th>
                    </tr>
                </thead>
                <tbody id="tblResources">

                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="nav-tradeAgreements" role="tabpanel" aria-labelledby="nav-tradeAgreements-tab">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark" style="text-align: center;">
                        <tr>
                            <th rowspan="1" colspan="4" >
                                First State
                            </th>
                            <th rowspan="1" colspan="4">
                                Second State
                            </th>
                        </tr>
                        <tr>
                            <th>State Name</th>
                            <th>Resources Traded</th>
                            <th>Trade Power</th>
                            <th>Trade Value</th>
                            <th>State Name</th>
                            <th>Resources Traded</th>
                            <th>Trade Power</th>
                            <th>Trade Value</th>
                    </tr>
                </thead>
                <tbody id="tradeAgreements">
                </tbody>
            </table>
        </div>
      </div>

      <div class="modal fade" id="mdlUpdateState" tabindex="-1" role="dialog" aria-labelledby="mdlUpdateStateLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mdlUpdateStateLabel">Update State</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="frmUpdateState">
                    <div class="modal-body">
                        <label for="txtStateName">State Name</label>
                        <input type="text" id="txtStateName" required><br/>

                        <label for="nmbTreasury">Treasury</label>
                        <input type="number" id="nmbTreasury"><br/>

                        <label for="txtDescription">Description</label>
                        <input type="text" id="txtDescription">
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary"></input>
                    </div>
                </form>
            </div>
        </div>
      </div>

        <div class="modal fade" id="mdlDeleteState" tabindex="-1" role="dialog" aria-labelledby="mdlDeleteStateLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mdlDeleteStateLabel">Delete State</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" id="btnDeleteState">Yes</button>
                        <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">No</button>
                    </div>
                </div>
            </div>
        </div>
    
</body>
<script src="../renderers/stateRenderer.js"></script>
</html>