.parentComponent{
    position: absolute;
    left: 400px;
}

.childComponent{
    position: relative;
    left: 175px;
}

#componentsList > li{
    margin: 10px 0;
}

#rbsComponentsDisplay{
    float: left;
}