.totalIncome {
  position: absolute;
  color: #d1b422;
  left: 200px;
}

.totalFood {
  position: absolute;
  left: 350px;
  color: green;
}

.population {
  position: absolute;
  left: 500px;
  color: #e68a2e;
}

.usedPopulation {
  position: absolute;
  left: 650px;
  color: #e68a2e;
}

.regionList {
  list-style: none;
}

.questionIcon {
  margin-left: 5px;
  margin-bottom: 4px;
}

#resourceTemplateRow {
  display: none;
}
